<!DOCTYPE html>
<html lang="en">
    <style>
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000;
   color: #fff;
   border-top: 1px solid #000;
   text-align: center;
}

h1{
    text-align: center;
    color: rgba(91, 49, 102, 0.699);
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="lavender">
    <div id="heading">
        <h1>LOG IN</h1>
    </div>
    <div id="LOGIN" align="center">
        <br />
        <form align="center" method="POST">
            <p>Enter your E-Mail : <input type="email" placeholder="  e-mail" id="email" name="email" />
                <br />
            </p>
            <p>Enter your Password : <input type="password" placeholder="  password..." id="password"
                    name="password" /><br /></p>
    
            <br>
            <br>
            <br>
            <input type="submit" id="button" value="Log-in" /><br />
            <p>OR</p>
    
        </form>
        <a href="/signup">Want to create an account?<input type="submit" id="button" value="Sign-up" /><br /></a>
    </div>


    <div class="footer">
        <p>Copyright 2021 Rishi</p>
      </div>


</body>
</html>